@import '_imports.scss';
.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $negro;
    h1{
        margin-bottom: 2rem;
        color: white;
        text-align: center;
        a{
            color: $rosado;
            text-decoration: none;
        }
    }

    .container-calculadora{
        background-color: $morado;
        min-height: 500px;
        width: 400px;
        border-radius: 50px;
        padding: 2rem;
        padding-bottom: 1.2rem;
        @media screen and (max-width:399px) {
            width: 280px;
            padding: 1rem;
            min-height: 440px;
        }

        .fila{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
    }
}